.info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.widget {
    overflow: hidden;
    border-radius: 16px;
    border: 1px solid var(--border);
    background-color: var(--neutral-100);
    padding: 24px;
    box-shadow: 0 4px 12px var(--alpha-200);
}