.projectGallery {
    /* margin-top: 10dvh; */
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 1dvh;
    z-index: 5;
}
.projectIndex {
    /* display: flex; */
    width: 50px;
    text-align: center;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 2.5px;
    font-family: var(--monoLight);
    font-size: --copy;
    margin-left: 2.5dvw;
}
.galleryFilter {
    display: flex;
    align-items: center;
    gap: 10px;
}
.filters {
    display: flex;
    gap: 4px;
    clip-path: inset(0 0 0 0);
}
.typeFilter {
    font-family: var(--regular);
    font-size: var(--copy);
    cursor: pointer;
    background-color: var(--shroud-color);
    padding: 4px 8px;
    border-radius: 25px;
}
.selected {
    background-color: var(--active-color);
    color: var(--background-color);
}
.slideShow {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 20px;
    margin-left: 2.5dvw;
    padding: 10px 0;
}
.slideShow::-webkit-scrollbar {
    display: none;
}
/* .currentProject {
    filter: brightness(1);
    transition: filter 0.3s ease;
} */
img.media, video.media {
    height: 10dvh;
    width: auto;
    cursor: pointer;
    filter: brightness(0.25);
    transition: filter 0.3s ease;
}

.currentProject img.media,
.currentProject video.media {
    filter: brightness(.75);
    transition: filter 0.3s ease;

}

@media screen and (min-width: 768px) {
    img.media, video.media {
        height: 20dvh;
        width: auto;
    }
    .projectIndex {
        margin-left: 5dvw;
    }
    .slideShow {
        margin-left: 5dvw;
    }
    .projectItem:hover img.media,
    .projectItem:hover video.media {
        filter: brightness(1);
    }
}