.projectGallery {
    /* margin-top: 10dvh; */
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 1dvh;
    z-index: 5;
}
.projectIndex {
    /* display: flex; */
    width: 50px;
    text-align: center;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 2.5px;
    font-family: var(--monoLight);
    font-size: --copy;
    margin-left: 2.5dvw;
}
.galleryFilter {
    display: flex;
    align-items: center;
    gap: 10px;
}
.filters {
    display: flex;
    gap: 10px;
    clip-path: inset(0 0 0 0);
}
.typeFilter {
    font-family: var(--light);
    font-size: var(--copy);
    cursor: pointer;
}
.selected {
    font-family: var(--medium);
}
.slideShow {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 20px;
    margin-left: 2.5dvw;
    padding: 10px 0;
}
.slideShow::-webkit-scrollbar {
    display: none;
}
.projectItem {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
}
.currentProject {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
.projectItem:hover, .currentProject:hover {
    /* transform: scale(1.05); */
    /* filter: invert(.75); */
    filter: blur(2px);
}
img.media, video.media {
    height: 10dvh;
    width: auto;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    img.media, video.media {
        height: 20dvh;
        width: auto;
    }
    .projectIndex {
        margin-left: 5dvw;
    }
    .slideShow {
        margin-left: 5dvw;
    }
}