.projectGallery {
    /* margin-top: 10dvh; */
    display: flex;
    flex-direction: column;
    gap: 1dvh;
    z-index: 5;
}
.projectIndex {
    /* display: flex; */
    width: 50px;
    text-align: center;
    border: 1px solid var(--dark);
    border-radius: 5px;
    padding: 2.5px;
    font-family: var(--monoLight);
    font-size: --copy;
    margin-left: 5dvw;
}
.galleryFilter {
    display: flex;
    align-items: center;
    gap: 10px;
}
.filters {
    display: flex;
    gap: 10px;
}
.typeFilter {
    font-family: var(--regular);
    font-size: var(--copy);
    cursor: pointer;
}
.selected {
    font-family: var(--bold);
}
.slideShow {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 10px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 5dvw;    
}
.slideShow::-webkit-scrollbar {
    display: none;
}
.media {
    height: 20dvh;
    pointer-events: none;
}