.projectCard {
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 2.5dvh 2.5dvw;
    gap: 10dvw;
}
.imageContainer {
    display: flex;
    justify-content: center;
    width: 95dvw;
    height: 40dvh;
}
img.media, video.media {
    width: auto;
    /* height: inherit; */
    max-width: 95dvw;
    object-fit: contain;
}
.textContainer {
    display: flex;
    flex-direction: column;
    gap: 1dvh;
    width: 95dvw;
}
div.textContainer h1 {
    clip-path: inset(0 0 0 0);
}
.rolesList {
    display: flex;
    gap: 2.5dvw;
}
.role {
    font-family: var(--monoLight);
    font-size: var(--copy);
}

@media screen and (min-width: 768px) {
    .projectCard{
        flex-direction: row;
        margin: 2.5dvh 5dvw;
        gap: 5dvw;
    }
    .imageContainer {
        width: 40dvw;
        height: 50dvh;
        justify-content: flex-start;
        align-items: flex-start;
    }
    img.media, video.media {
        max-height: 50dvh;
        max-width: 40dvw;
    }
    .textContainer {
        width: 40dvw;

    }
    .rolesList {
        gap: 1dvw;
    }
}
