.projectCard {
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 2.5dvh 2.5dvw;
    gap: 10dvw;
}
.imageContainer {
    display: flex;
    justify-content: center;
    max-width: 95dvw;
    max-height: 40dvh;
    position: relative;
}
img.media, video.media {
    height: auto;
    max-width: 100%;
    object-fit: contain;
}
.viewGalleryButton {
    position: absolute;
    bottom: 25px;
}
.textContainer {
    display: flex;
    flex-direction: column;
    gap: 1dvh;
    width: 95dvw;
}
.rolesList {
    display: flex;
    gap: 2.5dvw;
    clip-path: inset(0 0 0 0);
}
.role {
    font-family: var(--light);
    font-size: var(--copy);
    visibility: hidden;
}
.textContainer p {
    visibility: hidden;
}

@media screen and (min-width: 768px) {
    .projectCard{
        flex-direction: row;
        justify-content: space-between;
        margin: 2.5dvh 5dvw;
        gap: 5dvw;
    }
    .imageContainer {
       max-width: 40dvw;
        max-height: 50dvh;
        justify-content: flex-start;
        align-self: flex-start;
    }
    img.media, video.media {
        max-height: 50dvh;
        max-width: 40dvw;
    }
    .viewGalleryButton {
        top: 5px;
        left: 5px;
        bottom: auto;
    }
    .textContainer {
        width: 30dvw;

    }
    .rolesList {
        gap: 1dvw;
    }
}
