.menu {
    position: fixed;
    width: 100dvw;
    display: flex;
    bottom: 2.5dvh;
    top: auto;
    justify-content: center;
    z-index: 99;
}

.nav {
    background-color: var(--shroud-color);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 20px;
    width: 150px;
    border-radius: 7.5px;
}
.mainNav {
    order: 2;
    display: flex;
    justify-content: space-between;
    width: 150px;
    align-self: center;
    align-items: center;
    cursor: pointer;
}
.currentPath {
    font-family: var(--regular);
    font-size: 16px;
}
.subNav {
    order: 1;
    display: none;
}
.subNav li {
    margin-bottom: 10px;
    clip-path: inset(0 0 0 0);
}
.navLink {
    visibility: hidden;
    display: none;
    font-family: var(--light);
    font-size: 16px;
    transform: translateY(25px);
}

.navLinkActive {
    font-family: var(--medium);
}

.icon {
    cursor: pointer;
}
.toggleListItem {
    display: flex;
    justify-content: center;
}
.themeToggleWrapper {
    visibility: hidden;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.themeToggle {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text-color);
    transition: .4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: var(--background-color);
    transition: .4s;
    border-radius: 50%;
}

.themeToggle:checked + .slider {
    background-color: var(--text-color);
}

.themeToggle:checked + .slider:before {
    transform: translateX(16px);
}

@media screen and (min-width: 768px){
    .menu {
        top: 2.5dvh;
        bottom: auto;
    }
    .mainNav {
        order: 1;
    }
    .subNav {
        order: 2;
    }
    .subNav li {
        margin-bottom: 0;
        margin-top: 10px;
    }
}