.menu {
    position: fixed;
    width: 100dvw;
    display: flex;
    bottom: 2.5dvh;
    top: auto;
    justify-content: center;
    z-index: 100;
}

.nav {
    background-color: rgba(217, 217, 217, 0.25);
    display: flex;
    flex-direction: column;
    /* width: 120px; */
    gap: 20px;
    padding: 10px;
    border-radius: 7.5px;
}
.mainNav {
    order: 2;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}
.currentPath {
    font-family: var(--regular);
    font-size: 16px;
}
.subNav {
    order: 1;
    display: none;
    flex-direction: column;
    gap: 20px;
    display: none;
}
.navLink {
    display: none;
    font-family: var(--regular);
    font-size: 16px;
}

.navLinkActive {
    display: none;
    font-family: var(--bold);
    font-size: 16px;
}

.icon {
    cursor: pointer;
}

@media screen and (min-width: 768px){
    .menu {
        top: 2.5dvh;
        bottom: auto;
    }
    .nav {
        /* padding: 0.25dvh 0.5dvw; */
    }
    .mainNav {
        order: 1;
    }
    .subNav {
        order: 2;
    }
    .navLink {
       
    }
    .navLinkActive {
        
    }
    .icon {
        /* padding: 0.5dvh 1dvw; */
    }
}