.menu {
    position: fixed;
    width: 100dvw;
    display: flex;
    bottom: 2.5dvh;
    justify-content: center;
    z-index: 99;
}

.nav {
    background-color: var(--shroud-color);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Reduced horizontal padding */
    border-radius: 7.5px;
    gap: 10px; /* Added gap for consistent spacing */
}

.navLink {
    color: var(--text-color);
    display: flex; /* Ensure proper alignment */
    align-items: center;
    justify-content: center;
    width: 32px; /* Set fixed width for icons */
    height: 32px; /* Set fixed height for icons */
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.navLink svg {
    width: 20px; /* Set icon size */
    height: 20px; /* Set icon size */
}

.navLink:hover {
    background-color: var(--hover-color);
}

.navLinkActive {
    /* fill: var(--text-color); */
    background-color: var(--active-color);
    color: var(--background-color);
    /* border: 1px solid var(--shroud-color); */
}

.themeToggle {
    background-color: var(--text-color);
    width: 32px;
    height: 20px;
    border-radius: 9999px;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.themeToggle[data-state='checked'] {
    background-color: var(--text-color);
}

.themeToggle[data-state='checked']::after {
    transform: translateX(12px);
}

.themeToggle::after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 9999px;
    background-color: var(--background-color);
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 100ms;
    transform: translateX(0px);
}

@media screen and (min-width: 768px) {
    .menu {
        top: 2.5dvh;
        bottom: auto;
    }
}