html, body {
  margin: 0;
  padding: 0;
  min-width: 100dvw;
  min-height: 100dvh;
  background-color: var(--background-color);
  color: var(--text-color);
}

@font-face {
  font-family: 'Montreal-Regular';
  src: url('fonts/PPNeueMontreal-Regular.woff2') format('woff2'); 
}
@font-face {
  font-family: 'Montreal-Light';
  src: url('fonts/PPNeueMontreal-Light.woff2') format('woff2'); 
}
@font-face {
  font-family: 'Montreal-Medium';
  src: url('fonts/PPNeueMontreal-Medium.woff2') format('woff2'); 
}
@font-face {
  font-family: 'Montreal-Bold';
  src: url('fonts/PPNeueMontreal-Bold.woff2') format('woff2'); 
}
@font-face {
  font-family: 'Mono-Regular';
  src: url('fonts/PPNeueMontrealMono-Regular.woff2') format('woff2'); 
}
@font-face {
  font-family: 'Mono-Light';
  src: url('fonts/PPNeueMontrealMono-Light.woff2') format('woff2'); 
}

:root {
  --regular: 'Montreal-Regular';
  --light: 'Montreal-Light';
  --medium: 'Montreal-Medium';
  --bold: 'Montreal-Bold';
  --monoRegular: 'Mono-Regular';
  --monoLight: 'Mono-Light';
  --dark: #151414;
  --white: #F5F5F5;
  --alphaBlack50: rgba(20, 20, 20, 0.5);
  --alphaWhite50: rgba(245, 245, 245, 0.5);
  --alphaBlack75: rgba(20, 20, 20, 0.75);
  --alphaWhite75: rgba(245, 245, 245, 0.75);
  --alphaBlack25: rgba(20, 20, 20, 0.25);
  --alphaWhite25: rgba(245, 245, 245, 0.25);
  --alphaBlack10: rgba(20, 20, 20, 0.1);
  --alphaWhite10: rgba(245, 245, 245, 0.1);
  --dreamBlueLight: #3A5CCC;
  --dreamBlueDark: #5373E7;
  --copy: 14px;
}

[data-theme="dark"] {
  --background-color: var(--dark);
  --text-color: var(--white);
  --icon-color: var(--white);
  --glass-10: var(--alphaWhite10);
  --glass-75: var(--alphaWhite75);
  --glass-25: var(--alphaWhite25);
  --glass-50: var(--alphaWhite50);
  --dreamBlue: var(--dreamBlueDark);
}

[data-theme="light"] {
  --background-color: var(--white);
  --text-color: var(--dark);
  --icon-color: var(--dark);
  --glass-10: var(--alphaBlack10);
  --glass-75: var(--alphaBlack75);
  --glass-25: var(--alphaBlack25);
  --glass-50: var(--alphaBlack50);
  --dreamBlue: var(--dreamBlueLight);
}

.wrapper {
  width: 95dvw;
  height: 95dvh;
  padding: 2.5dvh 2.5dvw;
  align-content: flex-start;
  text-wrap: nowrap;
  position: absolute;
}

.introCopy, h1.loader {
  font-family: var(--monoLight);
  font-size: 24px;
}
hr {
  border: 0.5px solid var(--text-color);
  margin: 0;

}
h1 {
  font-family: var(--regular);
  font-size: 32px;
  color: var(--text-color);
  margin: 0;
}
h2 {
  font-family: var(--light);
  font-size: 22px;
  color: var(--text-color);
  margin: 0;
}
h3 {
  font-family: var(--monoRegular);
  font-size: 12px;
  color: var(--text-color);
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  display: block;
  padding: 0;
  margin: 0;
  clip-path: inset(0);
}
a {
  text-decoration: none;
  color: var(--text-color);
}
p {
  font-family: var(--regular);
  font-size: var(--copy);
  color: var(--text-color);
  margin: 0;
}
button {
  font-family: var(--regular);
    font-size: var(--copy);
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

video::-webkit-media-controls {
  display: none;
}

@media screen and (min-width: 768px) {

  .wrapper {
    width: auto;
    text-wrap: nowrap;
    align-content: center;
  }
  h2 {
    font-size: 24px;
  }
}