html, body {
  margin: 0;
  padding: 0;
  min-width: 100dvw;
  min-height: 100dvh;
  background-color: var(--background-color);
  color: var(--text-color);
}

@font-face {
  font-family: 'Montreal-Regular';
  src: url('fonts/PPNeueMontreal-Regular.woff2') format('woff2'); 
}
@font-face {
  font-family: 'Montreal-Light';
  src: url('fonts/PPNeueMontreal-Light.woff2') format('woff2'); 
}
@font-face {
  font-family: 'Montreal-Bold';
  src: url('fonts/PPNeueMontreal-Bold.woff2') format('woff2'); 
}
@font-face {
  font-family: 'Mono-Regular';
  src: url('fonts/PPNeueMontrealMono-Regular.woff2') format('woff2'); 
}
@font-face {
  font-family: 'Mono-Light';
  src: url('fonts/PPNeueMontrealMono-Light.woff2') format('woff2'); 
}

:root {
  --regular: 'Montreal-Regular';
  --light: 'Montreal-Light';
  --bold: 'Montreal-Bold';
  --monoRegular: 'Mono-Regular';
  --monoLight: 'Mono-Light';
  --dark: #000000;
  --white: #ffffff;
  --shroudDark: rgba(76, 76, 76, 0.75);
  --shroudLight: rgba(217, 217, 217, 0.75);
  --copy: 14px;
}

[data-theme="dark"] {
  --background-color: var(--dark);
  --text-color: var(--white);
  --icon-color: var(--white);
  --shroud-color: var(--shroudDark);
}

[data-theme="light"] {
  --background-color: var(--white);
  --text-color: var(--dark);
  --icon-color: var(--dark);
  --shroud-color: var(--shroudLight);
}

h1{
  font-family: var(--regular);
  font-size: 32px;
  color: var(--text-color);
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  display: block;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
p {
  font-family: var(--regular);
  font-size: var(--copy);
  color: var(--text-color);
  margin: 0;
}
button {
  font-family: var(--light);
    font-size: var(--copy);
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
    background-color: var(--shroud-color);
    backdrop-filter: blur(4px);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

video::-webkit-media-controls {
  display: none;
}
