.main {
  position: relative;
  padding: 40px 20px;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 2;
}

.container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.sceneSection {
  width: 100%;
  margin-bottom: 40px;
}

.section {
  width: 100%;
  margin-bottom: 40px;
}

.section:last-child {
  margin-bottom: 0;
}

.themeSection {
  width: 100%;
  display: flex;
  justify-content: center;
}

.timeContainer {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  width: fit-content;
  background-color: var(--alpha-100);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(4px);
  padding: 8px;
  border-radius: 8px;
}

.timeText {
  font-family: 'Mono-Regular';
  letter-spacing: -0.06em;
  color: var(--neutral-900);
  margin: 0;
  font-size: 0.9rem;
  text-wrap: nowrap;
}

.satellite {
  color: var(--neutral-900);
}

@media screen and (min-width: 768px) {
  .main {
    padding: 60px 40px;
  }
  
  .timeContainer {
    top: auto;
    bottom: 20px;
  }
}