.cvContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  color: var(--gray-900);
}

.cvItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cvItemOrg {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.introCopy {
  font-size: 14px;
  line-height: 1.6;
  color: var(--fg);
  margin: 0;
}

.subProjectsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 4px;
  position: relative;
}

.subProjectsContainer::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--gray-500);
  border-radius: 1px;
}

.subProject {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 16px;
}

.subProject h4 {
  font-family: var(--medium);
  font-size: 15px;
  color: var(--gray-1000);
  margin: 0;
}

.subProject p {
  font-family: var(--regular);
  font-size: 16px;
  color: var(--gray-900);
  margin: 0;
} 