.cvContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cvItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cvItemOrg {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.subProjectsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 4px;
  position: relative;
}

.subProjectsContainer::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--neutral-500);
  border-radius: 1px;
}

.subProject {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 16px;
}