.themeToggle {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: 1px solid var(--alpha-500);
    padding: 10px 10px;
    cursor: pointer;
    color: var(--gray-1000);
    border-radius: 25px;
    font-family: var(--regular);
    font-size: var(--copy);
    transition: all 0.3s ease;
    overflow: hidden;
}

.themeToggle:hover {
    background-color: var(--gray-1000);
    color: var(--gray-100);
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
}

.textWrapper {
    display: inline-block;
    position: relative;
    min-width: 35px;
    text-align: left;
}