.bioSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  text-align: left;
  margin-bottom: 40px;
}

.inlineLink {
  color: var(--dreamBlue);
  font-family: var(--bold);
}

@media screen and (min-width: 768px) {

} 