.info {
    visibility: hidden;
    width: 95dvw;
    padding: 5dvh 2.5dvw 10dvh 2.5dvw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.introCopy {
    font-size: 16px;
}

.directory {
    display: flex;
    flex-direction: column;
    gap: 2.5dvh;
}

.link {
   width: 100%;
   clip-path: inset(0);
}

@media screen and (min-width: 768px) {
    .info {
        flex-direction: row;
        justify-content: flex-start;
        gap: 10vw;
        padding: 20dvh 5dvw 5dvh 5dvw;
        width: 90dvw;
        height: 75dvh;
    }
    .intro {
        width: 40dvw;
    }
    .directory {
      
    }
}