.contactContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}