.timeContainer {
  display: flex;
  /* align-items: center; */
  gap: 8px;
  width: fit-content;
  background-color: var(--alpha-100);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  padding: 16px;
  border-radius: 16px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.timeText {
  font-family: var(--monoRegular);
  letter-spacing: -0.06em;
  color: var(--gray-900);
  margin: 0;
  font-size: 0.9rem;
  text-wrap: nowrap;
}

.statusText {
  color: var(--gray-900);
}

.satellite {
  color: var(--gray-900);
} 