.galleryPopup {
    /* min-width: 100dvw; */
    visibility: hidden;
    clip-path: inset(0 0 100% 0);
    z-index: 100;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    background-color: var(--background-color);
}
.closeButton {
    position: fixed;
    top: 20px;
    cursor: pointer;
    z-index: 200;
}
.closeButton:hover {
    background-color: var(--text-color);
    color: var(--background-color);
    border: none;
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}
.galleryContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5dvh;
    width: 95dvw;
    min-height: 100dvh;
    z-index: 101;
    margin: 10dvh 2.5dvw 7.5dvh 0;
}

img.media, video.media {
    height: auto;
    width: 95dvw;
    pointer-events: none;
}

@media screen and (min-width: 768px) {
    .closeButton {
        top: 20px;
        left: 48dvw;
    }
    .galleryContent {
        flex-direction: row;
        gap: 5dvw;
        width: auto;
        min-width: 97.5dvw;
        height: 100dvh;
        margin: 0;
        /* margin-left: 2.5dvw; */
    }
    img.media, video.media {
        height: 75dvh;
        width: auto;
        /* max-height: 80dvh;
        max-width: 80dvw; */
    }
}